.inputField {
  display: flex;
  justify-content: center;
  padding: 1vw;
  border: 1px solid ;
  margin: 0 20vw;
  border-radius: 5px;
}

.inputBox {
  display: flex;
  width: 35vw;
}

.inputSubmit {
  display:flex;
  align-self: center;
}